*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
   
}

html, body  {
    min-height: 100%;
}

html{  
    position:relative; 
}

.wrapper{
    min-height: 100%;
    max-width: 1280px;
    padding: 15px;
    margin: 0 auto 274px auto;
}

h1{
    color: red;
    font-size: 30px;
    font-weight: 500;
}

p{
    font-weight: bold;
    font-size: 14px;
    margin:15px 0 0 0;
}

.page-body{
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 0 20px 0;
} 

footer{
    width: 100%;
}

.footer-content{
    padding: 40px 15px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.footer-links{
    align-content: center;
    color: #b398af;
    display: flex;
    justify-content: end;
    align-items:center;
    flex-direction: column;

}

.footer-links a{
    display: block;
    margin:0  0 30px 0;
}

footer{
    position: absolute;
    max-width: 1280px;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.footer-links{
    align-content: center;
    color: #b398af;
    display: flex;
    justify-content: end;
    align-items:center;
    flex-direction: column;

}

.footer-links a{
    display: block;
    margin:0  0 30px 0;
}

.footer-content td:hover{
    color:red;
} 
.footer-content a:visited{
    color:green;
} 
.footer-content a:link{
    color:#70acc8;
} 
.footer-content a:active{
    color:slateblue;
} 
.footer-content a:focus{
    color:gold;
} 

.column{
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: bold;
}

.column p{
    margin: 0 0 15px 0;
    font-weight: normal;
    color: #b398af;
    font-size: 16px;
}

.column a{
    margin: 0 0 15px 0;
}
.line{
    background-color: #e7e8e7;
    height: 2px;
    width: 100%;
    display: inline-block;
}

@media (min-width:640px) and (max-width:900px){
    .column{
        width:33.33%;
        align-items: center;
    }
    .footer-content,.footer-links{
        justify-content: start;
    }
    .footer-links{
        margin: 0 auto;
    }
    .wrapper{
        margin: 0 auto 518px auto;
    }
   
    
}

@media (min-width:475px) and (max-width:640px){
    .column{
        width:50%;
        align-items: center;
    }
    .footer-content,.footer-links{
        justify-content: start;
    }
    .footer-links{
        margin: 0 auto;
    }
    .wrapper{
        margin: 0 auto 680px auto;
    }
}

@media screen and (max-width: 475px){
    .footer-content{
        flex-direction: column;
    }
    .column, .footer-links{
        padding: 0 0 0 10px;
    }
    .wrapper{
        margin: 0 auto 1246px auto;
    }
    .footer-links{
        align-items: flex-start;
    }
}




