*{
  box-sizing: border-box;
}
table{
  width: 100%;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  table-layout:fixed;
  height: 100%;
}
th, td {
  padding: 0.25rem;
  overflow:hidden; 
}
tr{
  height: 40px;
}
.main{
  padding: 20px;
}
.wrapper{
  height: 80vh;
  overflow: auto;
}
.header td {
  background-color:#282d32;
  color: white;
  font-weight: lighter;
}
thead,tbody{
  width: 100%;
  border-radius: 5px;
}
th {
  background: white;
  top: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header td:first-child{
  border-radius: 5px 0 0 0;
}
.header td:last-child{
  border-radius: 0 5px 0 0;
  width: 17px;
}
td,th{
  color: #47575d;
  word-wrap:break-word;
  }
thead tr td:first-child{
  height:32px;
  width:60px;
}
tbody tr:nth-of-type(even){
  background-color:#f3f6f8;
}
tbody tr td:first-child{ 
  width:60px;
  }
.red{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:#ff4200;
  margin: auto;
}
  
.green{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color:#75ce63;
  margin: auto;
}
  
  